<form class="wrapper jumbotron" #postForm="ngForm">
    <div class="form-group">
        <label for="book" id="book-label">Book's name:</label>
        <input ngModel type="text" name='name' class="form-control" id="book" placeholder="Book's name..." #nameInput="ngModel">
    </div>
    <div class="form-group">
        <label for="author" id="author-label">Author:</label>
        <input ngModel type="text " name='author' class="form-control" id="author" placeholder="Author..." #authorInput="ngModel">
    </div>
    <div class="form-group">
        <label for="genre" id="genre-label">Genre:</label>
        <select ngModel class="form-control" name='genre' id="genre" #genreInput="ngModel">
        <option *ngFor="let book of genres;let index = index;" [value]="book[index+1]">{{book[index+1]}}</option>
      </select>
    </div>
    <div class="form-group">
        <label for="pages" id="pages-label">Book's number of pages:</label>
        <input ngModel type="number" class="form-control" name='pages' id="pages" placeholder="number of pages..." #pagesInput="ngModel">
    </div>
    <div class="buttons">
        <button type="submit" class="btn btn-primary" (click)="addBook(postForm)">Submit</button>
        <button type="reset" class="btn btn-dark">Reset</button>
    </div>
</form>